:root{
  --background: black;
  --backgroundSections: #0A0A0B;
  /* --title-color: #1a5e51; */
  /* --title-color: #C7CDE4; */
  --title-color: #97a3d4;
  --text-color: #959595;

  --font-title: "Fredoka", sans-serif;
  --font-text: 'League Spartan', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--font-text);
  color: var(--text-color);
  background-color: var(--background);
  scroll-behavior: smooth;
}
body{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)), url('../images/portfolio-large.jpg');
  background-size: cover;
}
body::-webkit-scrollbar{
  width: 5px;
  background: var(--backgroundSections);
}
body::-webkit-scrollbar-thumb{
  width: 5px;
  border-radius: 5px;
  background-color: var(--title-color);
}
h1, h2, h3 {
  font-family: var(--font-title);
  color: var(--title-color);
}